.loginforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.submit {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;
}